{:paths ["src"]
 :deps {}
 
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10"
                                                :git/sha "deedd62"}}
          :ns-default build}}}

